.container {
  display: flex;
  align-items: center;
  background-color: var(--header__background);
  color: var(--header__color);
  padding: 10px;
}

.title {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: clamp(1.2rem, 14vw - 2.5rem, 1.9rem);
  font-weight: 650;
}
