{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:chai-friendly/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "rules": {
    "quotes": [
      1,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "arrow-parens": 1,
    "new-cap": 0,
    "react/prop-types": 0,
    "no-console": 1,
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}