{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended",
    "plugin:chai-friendly/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "rules": {
    "prettier/prettier": 1,
    "quotes": [1, "single", {"avoidEscape": true}],
    "arrow-parens": 1,
    "new-cap": 0,
    // "indent": ["error", 2],
    "react/prop-types": 0,
    "no-console": 1,
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
