{
  "root": true,
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    // "plugin:chai-friendly/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "ignorePatterns": ["legacy/**"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "rules": {
    "quotes": [
      1,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "arrow-parens": 1,
    "new-cap": 0,
    "react/prop-types": 0,
    "no-console": 1,
    "require-await": "error",
    "@typescript-eslint/no-floating-promises": ["error"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}