.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 36px;
}

.col {
  margin: 0 5px;
}

.row {
  display: flex;
}

.cell {
  padding: 0 10px;
  font-size: 32px;
}
