.container {
  padding: 0;
  border: 0;
  margin: 0;
  overflow: auto;
}

.theme {
  position: relative;
}

.theme input {
  opacity: 0;
  position: absolute;
  height: 100%;
  margin: 0;
}

.theme input:focus + .label span {
  outline: 1px dotted;
}

.theme.active {
  color: rgb(254, 244, 156);
  background: rgb(204, 0, 0);
}

.label {
  display: block;
  padding: 5px 10px;
  flex: 1;
  word-wrap: break-word;
  cursor: pointer;
}
