.container {
  position: fixed;
  transform: translateY(100%);
  transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
  right: 6px;
  bottom: 0;
  padding: 10px;
}

.container.active {
  transform: translateY(-6px);
}

.title {
  font-size: 1.2em;
  margin: 0 0 5px;
}
