.container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.label {
  margin: 20px 0;
  text-align: center;
  display: block;
}

.select {
  font-size: 16px;
  font-family: 'Fira Mono', 'IBM Plex Mono', 'Menlo', Consolas, monospace,
    monospace;
  max-width: 100%;
  width: 300px;
}

.arrow {
  flex: 0 0 auto;
}

.direction {
  display: flex;
  align-items: center;
  background-image: var(--btn__bg-img);
  border-radius: 0.25em;
  border: var(--btn__bg-border);
  color: var(--btn__colour);
  padding: 3px 10px;
}
