.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container.dark {
  color: #ededed;
  background: #202020;
}

.container.light {
  color: #282c34;
  background: #e1e4e8;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: inherit;
  text-decoration: none;
}

.toggles {
  display: flex;
}
