.container {
  display: flex;
  align-items: center;
  color: var(--toolbar__color);
  background: var(--toolbar__background);
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: inherit;
  text-decoration: none;
  margin: 0 10px 0 0;
}

.title svg {
  flex: 1 0 auto;
  margin: 0 10px 0 0;
}

.select {
  margin: 0 10px 0 auto;
}

.toggles {
  display: flex;
  margin: 0 0 0 auto;
}

.more {
  margin: 0 0 0 auto;
}
