.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--toolbar__color);
  background: var(--toolbar__background);
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: inherit;
  text-decoration: none;
}

.toggles {
  display: flex;
}
