*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --primary-font: var(--font-inter);
  font-family: var(--primary-font);
}

button {
  font-family: var(--primary-font);
}
