.container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: minmax(0, 800px);
  place-content: center;
  gap: 20px;
  padding: 10px;
}

.options {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  text-align: center;
}

@media (min-width: 500px) {
  .options {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-template-rows: revert;
    justify-content: center;
    text-align: revert;
  }
}

.select {
  display: grid;
  grid-template-columns: auto minmax(0, 400px) auto;
  justify-content: center;
}

.copy {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
}

@media (min-width: 500px) {
  .copy {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
    gap: 10px;
    justify-content: center;
  }
}
