.container {
  position: relative;
}

.trigger {
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  color: var(--toolbar__color);
  padding: 0;
  cursor: pointer;
}

@keyframes slide_in_content {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(-10px);
    opacity: 1;
  }
}

.content {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  background: var(--toolbar__background);
  max-width: 500px;
  border: var(--btn__bg-border);
  border-radius: 0.25em;
  padding: 10px;
  max-height: 100%;
  overflow: auto;
  color: var(--btn__colour);
  box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15);
  transform: translateY(-10px);
  animation: slide_in_content 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.content p {
  margin: 0 0 10px;
  line-height: 1.4;
}

.section p:last-child {
  margin: 0;
}

.content button {
  background-image: var(--btn__bg-img);
  border-radius: 0.25em;
  border: var(--btn__bg-border);
  color: var(--btn__colour);
  padding: 3px 10px;
  cursor: pointer;
}
.content button:focus {
  box-shadow: 0 0 0 0.2em rgba(79, 140, 201, 0.5);
  outline: 0;
}
.content button:hover {
  background-image: var(--btn__bg-img--hover);
  background-position: -0.5em;
}

.section {
  margin: 0 0 20px;
  border-bottom: var(--btn__bg-border);
  padding-bottom: 20px;
}

.section:first-child {
  margin: 10px 0 20px;
}

.section:last-child {
  margin: 0 0 20px;
  border-bottom: 0;
  padding-bottom: 0;
}

.section a {
  color: var(--link-colour);
}

.section a:visited {
  color: var(--link-colour--visited);
}

.heading {
  margin: 0 0 20px;
  font-weight: 500;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--overlay-background);
  display: none;
}
.overlay.active {
  display: block;
}
