@media (min-width: 720px) {
  .container {
    display: flex;
    height: 100%;
    overflow: auto;
  }
}

.title {
  font-size: 24px;
  margin: 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 720px) {
  .sidebar {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    max-width: 30%;
  }
}

@media (min-width: 720px) {
  .content {
    flex: 1 0 auto;
  }
}
