.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
    overflow: auto;
  }
}

.sidebar {
  transition: background 0.05s ease-in-out;
}

@media (min-width: 769px) {
  .sidebar {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    max-width: 30%;
  }
}

.content {
  flex: 1 0 auto;
}

.light {
  color: #282c34;
}

.light a {
  color: rgb(1, 160, 228);
}

.dark {
  background-color: #282c34;
  color: white;
}

.dark a {
  color: #7fd8ff;
}
