/* Text CSS from https://web.dev/speedy-css-tip-animated-gradient-text */
/* Border CSS from by https://codepen.io/mike-schultz/pen/NgQvGO */

.border {
  --bg-size: 400%;
  --color-one: white;
  --color-two: white;
  --color-three: white;
  --color-four: white;
  --color-five: white;
  --gradient-animation: linear-gradient(
      130deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-four),
      var(--color-five),
      var(--color-four),
      var(--color-three),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;

  display: inline-block;
  border-radius: 4px;
  background: var(--gradient-animation);
  padding: 4px;
  display: inline-block;
  font-weight: 700;
}

.text {
  background: var(--gradient-animation);
  color: transparent;
  background-clip: text;
  font-family: monospace, monospace;
  padding: 4px;
}

.background {
  background-color: var(--header__background);
}

@media (prefers-reduced-motion: no-preference) {
  .text,
  .border {
    animation: animate 16s ease-in-out infinite reverse;
  }
  @keyframes animate {
    0% {
      background-position: 10% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 10% 0%;
    }
  }
}
