.container {
  --black: black;
  --red: red;
  --green: green;
  --yellow: yellow;
  --blue: blue;
  --purple: purple;
  --cyan: cyan;
  --white: white;
  --brightBlack: black;
  --brightRed: red;
  --brightGreen: green;
  --brightYellow: yellow;
  --brightBlue: blue;
  --brightPurple: purple;
  --brightCyan: cyan;
  --brightWhite: white;
  --background: black;
  --foreground: white;
  --cursorColor: white;
  --selectionBackground: red;
}

.black {
  color: var(--black);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purple);
}

.cyan {
  color: var(--cyan);
}

.white {
  color: var(--white);
}

.brightBlack {
  color: var(--brightBlack);
}

.brightRed {
  color: var(--brightRed);
}

.brightGreen {
  color: var(--brightGreen);
}

.brightYellow {
  color: var(--brightYellow);
}

.brightBlue {
  color: var(--brightBlue);
}

.brightPurple {
  color: var(--brightPurple);
}

.brightCyan {
  color: var(--brightCyan);
}

.brightWhite {
  color: var(--brightWhite);
}

.background {
  background-color: var(--background);
}

.foreground {
  background-color: var(--foreground);
}

.cursorColor {
  color: var(--cursorColor);
}

.selectionBackground {
  background-color: var(--selectionBackground);
}

.reset {
  font-weight: initial;
  opacity: initial;
  text-decoration: initial;
  color: initial;
  background-color: initial;
}

.bold {
  font-weight: 700;
}

.dim {
  opacity: 0.5;
}

.underline {
  text-decoration: underline;
}

.inverse {
  background-color: var(--color);
  color: var(--background);
}

.strikethrough {
  text-decoration: line-through;
}

.background-color {
  background-color: var(--color);
  color: var(--foreground);
}
