.button {
  background-image: var(--btn__background);
  border: var(--btn__background-border);
  border-radius: 0.25em;
  color: var(--btn__colour);
  cursor: pointer;
  padding: var(--btn__padding);
  font-size: var(--font-size);
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  background-image: var(--btn__background--hover);
}

.title {
  font-weight: 700;
  margin: 0;
}
