.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  padding: 0 0 40px;
  transition: background 0.05s ease-in-out;
  overflow: auto;
}

.loading {
  height: 100%;
}

@media (min-width: 769px) {
  .container {
    padding: 0;
  }
}

.heading {
  display: flex;
  align-items: center;
  max-width: 820px;
  width: 100%;
  padding: 0 10px;
}

.name {
  font-size: 36px;
  margin: 0 auto 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background: transparent;
  padding: 3px;
  flex: 0 0 auto;
  cursor: pointer;
  line-height: 0;
  border: 3px solid;
  display: flex;
  align-items: center;
  margin: 0 0 0 3px;
  font-size: 1em;
}

.button svg {
  margin: 0 0 0 3px;
}
