.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 40px;
  transition: background 0.05s ease-in-out;
  overflow: auto;
  padding: 10px;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    padding: 10px;
    justify-content: safe center;
  }
}

.loading {
  height: 100%;
}

.heading {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 10px;
  margin: 0 auto;
}

.heading.narrow {
  max-width: 800px;
}

.name {
  font-size: 36px;
  margin: 0 auto 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background: transparent;
  padding: 3px;
  flex: 0 0 auto;
  cursor: pointer;
  line-height: 0;
  border: 3px solid;
  display: flex;
  align-items: center;
  margin: 0 0 0 3px;
  font-size: 1em;
}

.button svg {
  margin: 0 0 0 3px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 800px;
  margin: 10px auto 0;
}
