.matrix {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
}

@media (min-width: 360px) {
  .matrix {
    grid-column-gap: 5px;
  }
}

@media (min-width: 769px) {
  .matrix {
    width: auto;
    grid-column-gap: 10px;
  }
}

.cell {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 769px) {
  .cell {
    font-size: 2vw;
    padding: 0 10px;
  }
}

@media (min-width: 1280px) {
  .cell {
    font-size: 32px;
  }
}
